{% extends "layout.html" %}

{% block content %}

<style>
img {
display: block;
margin-left: auto;
margin-right: auto;
}
</style>
<h1 class ="text-center"style="font-size:60px;">IST 440w Section002 Team 1 - Project ZodiACK</h1>

    <img src="{{ url_for('static', filename='img/ZodiACK.png') }}" alt="Project ZodiACK" class="center">
    <h2>Project Requirements</h2>
    <p>Take an image of handwritten text</p>
    <p>Turn the characters in the image into text</p>
    <p>Process the text through 3 versions of Brute Force Decryption</p>
    <p>Translate the output of the correct cipher into 3 different langauges</p>
<h2 class ="text-center"style="font-size:40px;">Meet the Team</h2>
<img src="{{ url_for('static', filename='img/astrohm.png') }}" alt="Aaron Strohm" class="center" width="130" height="200">
<p class ="text-center"style="font-size:25px;">Aaron Strohm</p>
<p class ="text-center"style="font-size:15px;">Senior in the Information Sciences and Technology Program</p>
<p class ="text-center"style="font-size:15px;">at Penn State World Campus</p>
<img src="{{ url_for('static', filename='img/csullivan.png') }}" alt="Caitlin Sullivan" class="center" width="130" height="200">
<p class ="text-center"style="font-size:25px;">Caitlin Sullivan</p>
<p class ="text-center"style="font-size:15px;">Senior in the Information Sciences and Technology Program</p>
<p class ="text-center"style="font-size:15px;">at Penn State World Campus</p>
<img src="{{ url_for('static', filename='img/kdahal.png') }}" alt="Krishna Dahal" class="center" width="130" height="200">
<p class ="text-center"style="font-size:25px;">Krishna Dahal</p>
<p class ="text-center"style="font-size:15px;">Senior in the Information Sciences and Technology Program</p>
<p class ="text-center"style="font-size:15px;">at Penn State Harrisburg</p>
<img src="{{ url_for('static', filename='img/wzaki.png') }}" alt="Wasim Zaki" class="center" width="130" height="200">
<p class ="text-center"style="font-size:25px;">Wasim Zaki</p>
<p class ="text-center"style="font-size:15px;">Senior in the Information Sciences and Technology Program</p>
<p class ="text-center"style="font-size:15px;">at Penn State World Campus</p>
<img src="{{ url_for('static', filename='img/swalsh.png') }}" alt="Sean Walsh" class="center" width="130" height="200">
<p class ="text-center"style="font-size:25px;">Sean Walsh</p>
<p class ="text-center"style="font-size:15px;">Senior in the Information Sciences and Technology Program</p>
<p class ="text-center"style="font-size:15px;">at Penn State World Campus</p>
<p class ="text-center"style="font-size:25px;">Orlando Marcano Diaz</p>
<p class ="text-center"style="font-size:15px;">Senior in the Information Sciences and Technology Program</p>
<p class ="text-center"style="font-size:15px;">at Penn State World Campus</p>
{% endblock %}