{% extends "layout.html" %}

{% block content %}
<style>
img {
display: block;
margin-left: auto;
margin-right: auto;
}
</style>
    <img src="{{ url_for('static', filename='img/ZodiACK.png') }}" alt="Project ZodiACK" class="center">
    <h3 style="font-size:25px;">To Start:</h3>
    <p>Upload an image by clicking 'Choose File'<br>
       - Image file must be PNG format<br>
       - Image file size must be 2MB or smaller<br>
       After file is selected, press 'Submit' to proceed to OCR.</p>
    <div class="upload-form">
      <form action = "/upload-file" method = "POST" 
        enctype = "multipart/form-data">
        <input type = "file" name = "file" />
        <input type = "submit"/>
      </form>
      <br>
      <p>Our handwritten optical character recognition is not working to our expected level of accuracy.<br>
         Please type your encrypted message below:</p>
         <form action = "/upload-solitaire"  method = "POST"
         enctype = "multipart/form-data">
         <input type = "text" name = "text" size = "35" />
         <input type = "submit" value="Solitaire" />
         <input type = "submit" formaction="/upload-vigenere" value="Vigenere" />
         <input type = "submit" formaction="/upload-caesar" value="Caesar" />
        </form>
    </div>
  

{% endblock %}
